---
links:
    - href: clinical-approach
      text: Approach
      underlineColor: yellow-700
    - href: area-of-focus
      text: Specializations
      underlineColor: blue-700
    - href: insurance
      text: Insurance Coverage
      underlineColor: teal-700
    - href: biography
      text: Biography
      underlineColor: orange-700
---

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="Ashley Bremgan is a licensed clinical social worker. Ashley works with adults across the spectrum who suffer from depression, anxiety, trauma and other mental health issues. trained in relational psychodynamic and dialectical behavior therapy (DBT)
    modalities. She has specialty training in perinatal mental health, and has familiarity with internal family systems and sensorimotor approaches.">
    <link rel="stylesheet" href="styles.css">
    <title>Ashley Bregman, LCSW</title>
</head>

<body>
    {% include "header.liquid" %}
    <main>
        {% include "hero.liquid" %}
        {% include "callout.liquid" %}
        {% include "areaOfFocus.liquid" %}
        {% include "clinical-approach.liquid" %}
        {% include "insurance.liquid" %}
        {% include "biography.liquid" %}
    </main>
    <footer></footer>
</body>

</html>
